In [21]:
import numpy as np
import pandas as pd

In [22]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
df = pd.read_csv(r"D:\Data science\Projects(WEB)\train.csv")
df.head()

        col1        col2  output
0 -38.366669  113.000000       1
1 -39.818572  123.943369       1
2 -55.638240  114.551862       1
3 -36.378005   95.616515       1
4 -39.366669  112.000000       1

In [24]:
df.shape

(1278, 3)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1278 entries, 0 to 1277
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    1278 non-null   float64
 1   col2    1278 non-null   float64
 2   output  1278 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 30.1 KB

In [26]:
y=df['output']
X=df.drop('output',axis=1)

In [27]:
X

           col1        col2
0    -38.366669  113.000000
1    -39.818572  123.943369
2    -55.638240  114.551862
3    -36.378005   95.616515
4    -39.366669  112.000000
...         ...         ...
1273  -7.017043    3.026211
1274   5.633331    5.000000
1275 -13.501376  -12.774656
1276 -13.451631    0.015515
1277  18.634295   -6.581324

[1278 rows x 2 columns]

In [28]:
from sklearn.preprocessing import StandardScaler
standardized_data = StandardScaler().fit_transform(X)
print(standardized_data.shape)

(1278, 2)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(1022, 2) (1022,)
(256, 2) (256,)

**LOGISTIC REGRESSION**

In [30]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression()

In [31]:
y_pred=classifier.predict(X_test)

In [32]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred)

0.61328125

**SVM SVC with Linear kernel**

In [33]:
from sklearn.svm import SVC
classsifier= SVC(kernel='linear')
classifier.fit(X_train, y_train)
y_pred=classifier.predict(X_test)

In [34]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred)

0.61328125

**SVM SVC with RBF kernel**

In [35]:
from sklearn.svm import SVC
classifier= SVC(kernel='rbf')
classifier.fit(X_train, y_train)
y_pred=classifier.predict(X_test)

In [36]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred)

1.0

**SERIALIZATION**

In [39]:
from pickle import dump
dump(classifier, open(r'D:\Data science\data\clf.pkl', 'wb'))

**OBSERVATION**

Among Logistic regression, SVM with linear and rbf algorithms , SVM rbf mo